<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Adore | Dikshita Pillai</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" type="image/x-icon" href="public/icon1.png">
  <script src="https://kit.fontawesome.com/f137b0878d.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300;400&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
<script src="script.js" charset="utf-8"></script>
<nav class="navbar navbar-default navbar-expand-sm navbar-fixed-top ">
    <div class="container ">
      <div class="navbar-header ">
        <a class="navbar-brand my-name" href="./dist/index.html">Dikshita Pillai</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="my-projects.html">My Projects</a></li>
          <li id="home"><a href="public/Resume-Dikshita.pdf">Resume</a></li>
          <li id="about"><a href="mailto:dikshitapillai97@gmail.com">Email</a></li>
          <li id="contact"><a href="about-me.html">About me</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

<!-- <%- include("partials/header"); -%> -->

 <img alt="vera" src="public/vera-cover.svg" style="width:100%;height: 500px;/* position: relative; *//* right: -34px; */align-items: end;">
 
 
 <div class="container-fluid">
  <div class="row" style="margin-top: 50px;position: relative;bottom: 500px;">
    <nav class="col-lg-3 col-md-3 hidden-sm hidden-xs">
      <div class="bs-docs-sidebar">
        <ul class="nav nav-stacked"id="sidebar">

          <li>
            
            <a href="#overview">Overview</a>
            <ul class="nav nav-stacked list">
              <li><a href="#problem">Problem</a></li>
              <li><a href="#solution">Solution</a></li>
           
              

            </ul>
          
          </li>

        

          <li>
            <a href="#empathise" class="show">Empathise</a>
            <ul class="nav nav-stacked list">
              <li><a href="#comp-analysis">Foundational Research</a></li>
              <li><a href="#interviews">5 W's framework</a></li>
              <li><a href="#personas">User Personas</a></li>
              <li><a href="#stories">Competitive report</a></li>
              
              
            </ul>
          </li>

          <li>
            <a href="#ideate">Ideate</a>
            <ul class="nav nav-stacked list">
              <li><a href="#crazy">Crazy Eights</a></li>
              <li><a href="#value">Value Proposition</a></li>
              <li><a href="#sitemaps">Basic Sitemaps</a></li>
             
            </ul>
          </li>

          <li>
            <a href="#design">Design</a>
            <ul class="nav nav-stacked list">
              <li><a href="#storyboarding">Storyboarding process</a></li>
              <li><a href="#paper">Paper Wireframing</a></li>
              <li><a href="#digital">Digital Wireframing</a></li>
              <li><a href="#iterations">Low Fidelity prototype</a></li>
            </ul>
          </li>
<li>
          <a href="#evaluate">Evaluation</a>
          <ul class="nav nav-stacked list">
            <li><a href="#user-testing">User Research study</a></li>
            <li><a href="#script">Script overview</a></li>
            <li><a href="#results">Study Conclusions</a></li>
        
          </ul>
        </li>

        <li>
        <a href="#iterate">Iterate</a>
        <ul class="nav nav-stacked list">
          <li><a href="#user-testing">Mockups</a></li>
          <li><a href="#success">Sticker sheet</a></li>
          <li><a href="#results">High fidelity prototype</a></li>
      
        </ul>
      </li>

          

          <li>
            <a href="#future-steps">Next steps</a>
            
          </li>

         

        </ul>
      </div>
    </nav>
    

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>




    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-centered main-content first-section">
      


      <section id="overview" class="group" data-aos="fade-up" data-aos-duration="600">
        <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
          <h6>           </h6><br>
          <h3>Overview</h3>
          <hr>
          <div id="problem" class="subgroup">
            <h4>Problem</h4>
            <p>Adopting a pet is a life changing decision to begin with.Light should be shed on adopting rather than buying pets.The pet adoption process should be hassle free and easy to go through.These processes need to be as clear as possible
              Most of the procedure is transferred online in the times of covid
              
              Importance of adopting,covering areas of petcare and what a pet parent should understand and know about the pet and making the adoption process simple and online
              </p>
          </div>
      </section>
    </div>
    <div >
<img alt="lines at ticket counters" data-aos="fade-up" data-aos-duration="600" class="img-responsive large-img " src="public/Frame 3.svg" alt="Problem Framing" style="width: 100%;" >
</div>

<br><br><br>
<br>

    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-centered main-content">
      <section class="group">
          <div class="row">
            <div id="solution" class="subgroup">
              <h4>Solution</h4>
              <p>I have designed Adore to resolve these solutions.It gets you to speed with how the adoption will go through.Apart from a hassle free adoption,it also gives you a map of nearby vets and medical centers.It gets you ready for your journey of getting your pet home to raising it well and taking care of it.It even acts as a bridge if you are up for volunteering at any animal shelters or donating to them.
              </p>
            </div>

           
          </div>
      </section>

      <div class="subgroup">

          <div class="row feature-row">
              <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
                <video autoplay muted loop class="video-features">
                  <source src="../../assets/eatxplore-recommendations.mp4"/>
                </video>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">

                <h5 class="video-feature-title video-feature-title-eatxplore">
                  Tailored Recommendations
                </h5>

                <h6 class="video-feature-subtitle">
                  Whether you want something familiar or something new, we’ve got you covered.
                </h6>

                <p class="video-feature-content">Eatxplore recommends dishes based on the your own ethnic background as well as the cuisine of the reataurant. Whether you want to be adventurous or conservative in your choice, you can find the right recommendations to quickly get you started.</p>
              </div>
            </div>


            <div class="row feature-row">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">

                  <h5 class="video-feature-title video-feature-title-eatxplore">
                    Dish Details at a Glance
                  </h5>

                  <h6 class="video-feature-subtitle">
                    All the information you need to make an order decision, at one place.
                  </h6>

                  <p class="video-feature-content">Want a quick overview of all the ingredients? Don’t know whether the dish meets your dietary needs? Can’t pronounce the dish name? No more Googling. You’ll find everything you need in Eatxplore at a glance.</p>
                </div>

                <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
                  <video autoplay muted loop class="video-features">
                    <source src="../../assets/eatxplore-steak-fajitas-v2.mp4"/>
                  </video>
                </div>
            </div>


            <div class="row feature-row">
                <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5">
                  <video autoplay muted loop class="video-features">
                    <source src="../../assets/eatxplore-capture-menu.mp4"/>
                  </video>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">

                  <h5 class="video-feature-title video-feature-title-eatxplore">
                    Available for All Restaurants
                  </h5>

                  <h6 class="video-feature-subtitle">
                    Instantly get photos and translations for restaurants not in our database, with AI and Crowdsourcing.
                  </h6>

                  <p class="video-feature-content">If the restaurant is not in our database, simply take a photo of the menu, and we’ll provide you with a temporary translation of the menu, as well as photos for each dish to help you order. We’ll add that restaurant to our database thanks to your photo.</p>
                </div>
            </div>
            <p class="p-center-wrapper"><a href="#prototype" target="_blank"><button class="btn black-button purple" name="button">Jump to Prototype</button></a> </p>
      </div>

      <div id="methods" class="subgroup">
          <h4>Methodology</h4>
          <img  class="img-responsive full-img" src="public/methodology 00.PNG" alt="methodology">
      </div>

      



      </section>
      <section id="empathise" class="group" >
      <div class="section-divider">
        <div class="dot1">
        </div>
        <div class="dot2">
        </div>
        <div class="dot3">
        </div>
      </div>

      
        <div data-aos="fade-up" data-aos-duration="600">
          
          <h3>Emphathise</h3>
          <hr>
          <div class="subgroup">
              <p></p>
          </div>
          <div id="my-role" class="subgroup">
            <h4>Foundational Research</h4>
            <p>I started with persona creation and aimed to experience pain points and goals through them</p>
              

              
        </div>

          <div id="comp-analysis" class="subgroup">
              

              <ul><h4>Research goals</h4>
                <li>Understand the needs of people visiting the art gallery</li>
                <li>Understand why do people visit the place and do they enjoy the experience or could it be improved</li>
                </ul>
                <ul><h4>Characteristics of your target audience</h4>
                <li>People who enjoy art and visit galleries and museums often</li>
                <li>Include participants of different age groups</li>
                <li>Include participants with disabilities</li>
          </ul>
                <br><br>
              <h4>Privacy</h4>
               <p>This process is transparent about the documents required.You know how much information the shelter has about you.You are verified online by going through a few steps.
              </p> 
               

           <ul> <h4> User Journey</h4>
<p>After listing major pain points and goals of the design,I went through with the user journey highlighting the main tasks
</p>
<li>Go to the adoption page</li>
<li>View animals up for adoption</li>
<li>Go through the process of adoption</li>
<li>Click on the adopt button and go through the adoption process</li>
<li>Provide details</li>
<li>Provide documents</li>
<li>Meet you pet</li>
<li>Vaccine administration</li>
<li>Adoption procedure completed,you can take your pet home</li>

</ul>            
        


              


              </div>

              

             

              <br><br><br><br>
              <img alt="personas part one" src="public/persona 01.svg" style="width:100%;height: 500px;/* position: relative; *//* right: -34px; */align-items: end;">
              <br>
              <br>
              <br>
              <img alt="personas part two" src="public/personas02.svg" style="width:100%;height: 500px;/* position: relative; *//* right: -34px; */align-items: end;">
              <br>
              <br>
              <a href="public/PERSONAS (3).pdf" target="_blank">
              
              <button onclick="ShowAndHide()" class="btn black-button purple" name="button" >VIEW DETAILED USER PERSONAS</button></a>
              
              
          
            <br>
            <br>
           <h4> After mapping the user journeys of each persona,here are the user stories:</h4>
            <img class="logo" src="public/user stories 01.svg" alt="User stories part one" style="width:125%">
            <img class="logo" src="public/user sotries 02.svg" alt="User stories part two" style="width:125%">
              </p>
          </div>



          <div id="interviews" class="subgroup">
            <h4>Competitive audit and report</h4>
            <p>Then I constructed a competitive audit and generated a competitive report
 
              The competitive audit was conducted on the terms of the visual design,content,interaction,accessibility and user flow.The brand's unique value proposition was also noticed.
              From this audit,I later generated a report.
</p>              
              <div class="row" style="display:flex;">
                <div class="column">
                  <img class="logo" src="public/VoiceMap-logo.jpg" alt="voicemap logo" style="width:100%">
                </div>
                <div class="column">
                  <img class="logo" src="public/smartify_sized.webp" alt="smartify logo" style="width:100%">
                </div>
              </div>
              <br><br><br><br>
              <button onclick="ShowAndHide2()" class="btn black-button purple" name="button" > SEE REPORT CONCLUSIONS</button>
              <br><br><br><br>
              <div class="collapse" id="competitive" style="display:none">
              <img alt="competitive audit" src="public/competitve audit.PNG" style="width:160%;height: 530px;/* position: relative; *//* right: -34px; */align-items: end;">
              <img alt="competitive audit" src="public/Untitled presentation (1).svg" style="width:160%;height: 530px;/* position: relative; *//* right: -34px; */align-items: end;">
              </div>
</p>          
</div>
</div>
</section>   
<section id="ideate" class="group" >

<div class="section-divider">
  <div class="dot1">
  </div>
  <div class="dot2">
  </div>
  <div class="dot3">
  </div>
</div>

              <!-- <img class="img-responsive full-img" src="../../assets/eatxplore-affinity-mapping.jpg" alt="">  <br><br><br> -->
<br><br>

  <div data-aos="fade-up" data-aos-duration="600">
    <h3>Ideation</h3>
    <hr>
    <div class="subgroup">


     <p>Two brainstorming approaches were taken by me</p> 
      1.Crazy eights
      2.How might we?
      <h4>Crazy Eights</h4>
      
                <br>
               
                <img class="logo" src="public/crazy eights.jpg" alt="bigpicture storyboarding" style="width:100% ;">
                <br>
                <br>

                <h4>How might we?</h4>
              <li>  Amp up the good: HMW highlight all types of pets not only dogs and cats?</li>
              <li>  Explore the opposite: HMW make the wait the most exciting part of the trip? </li>
              <li>  Question an assumption: HMW streamline the adoption process and make it simpler?</li>
              <li>  Go after adjectives: HMW we make the process seamless and not make the person who is adopting anxious?</li>
              <li>   ID unexpected resources: HMW tell the users how they are helping by adopting rather than buying?</li>
              <li>   Create an analogy from need or context: HMW make this process similar to knowing another human ?</li>
              <li>  Play POV against the challenge: HMW make the website approachable and accessible whenever a person wants to adopt or take care of their pet?</li>
              <li>  Change the status quo: HMW decide and choose the perfect pet?HMW give the adopter regular updates about the pet?</li>
              <li>  Break POV into pieces: HMW consider the medical requirements of the pet?HMW keep them safe and aligned with covid protocols?</li>
                
                
               
               
 
                <!-- </p> -->

                <br><br><br><br>
  
                
                  <img alt="value proposition" src="public/ideation.PNG" style="width:150%;height: 570px;/* position: relative; *//* right: -34px; */align-items: end;">
               
               <br><br><br><br>
               <br><br><br><br>
              <h4>Finalised Features</h4>
              <p>I ended up zeroing down on some major from them and acting on them
                <img alt="finalised features" src="public/Frame 2.svg" style="width:100%;display: flex;justify-content: center;">
              </p>
              <h4>Sitemap and structure</h4>
              <p>
                Next I created a basic information architecture for the website flow
                
                <br>
                <br>

<a href="public/User flow .pdf" target="_blank">
              
              <button onclick="ShowAndHide()" class="btn black-button purple" name="button" >SEE USER FLOWS</button></a>

 
             </p>
             </div>
             </div>
             </section>


         
             <section id="design" class="group" >
       
        <div class="section-divider">
          <div class="dot1">
          </div>
          <div class="dot2">
          </div>
          <div class="dot3">
          </div>
        </div>

       
        
          <div data-aos="fade-up" data-aos-duration="600">
            <h3>Design</h3>
            <hr>
            <div class="subgroup">
         <h4> Storyboarding</h4>
        <p>I started with storyboarding.I made two storyboards -big picture and close up.
        </p>
         <img class="logo" src="public/big picture storyboarding.jpg" alt="bigpicture storyboarding" style="width:49%">
                <img class="logo" src="public/closeup storyboarding.jpg" alt="close up storyboarding" style="width:50%">
          <h4>Paper wireframing</h4>
         <p> After that I started drawing basic paper wireframes</p>
         <img class="logo " src="public/wireframing 1.jpg" alt="paper wireframes" style="width:49%">
         <img class="logo" src="public/wireraming 2.jpg" alt="paper wireframes" style="width:49%">
         <br><br>
         <h4>Digital Wireframing</h4>
         <p>These were then converted to digital wireframes..A few sample wireframes are shown below:
          <br><br>
         <img alt="finalised features" src="public/Frame 02.svg" style="width:125%;height: 800px;/* position: relative; *//* right: -34px; */align-items: end;"></p>
         <br><br>
         <h4>Low Fidelity Prototype</h4>
         <p>As this is a responsive site,I made wireframes for a laptop sized screen and a mobile simultaneously.
          Before I increased the fidelity of my prototype,I conducted a usability study to see if my design was usable and the user flow was clear.
          <br>I used <span class="highlight"> Figma</span> for both the wireframing and prototyping process.</p>
          <a href="public/UX Research Study Plan-VERA.pdf" target="_blank">
              
            <button onclick="ShowAndHide()" class="btn black-button purple" name="button" >LOW FIDELITY PROTOTYPE </button></a>
          </div>
          </div>

          
        </section>
        <section id="evaluate" class="group" >
        <div class="section-divider">
          <div class="dot1">
          </div>
          <div class="dot2">
          </div>
          <div class="dot3">
          </div>
        </div>

        
          <div data-aos="fade-up" data-aos-duration="600">
            <h3>Evaluate</h3>
            <hr>
            <div class="subgroup">
         <h4>  User Research study / Design Research</h4>
         <p>I layed out a basic user study report with KPIs mentioned below
        </p>
         <ol> <h4>KPIs were</h4>
          <li><span class="highlight"> Time on task </span>-How much time does it take to go through the adoption process?
          </li>

          <li><span class="highlight">  Conversion rates </span>-How many users are able to go through the entire adoption process?</li>

           <li><span class="highlight"> User error rates </span>-How often do the users get stuck or make errors while using the replace?</li>
           <li><span class="highlight"> Drop off rates</span>-How many users abandon the experience?</li>
          
            <li><span class="highlight">Net Promoter score</span>-How many users recommend others to use this website?</li>
          </ol>
          <br>
          <ul><h4>Overview of the script</h4></ul>
          <li>Introduce the project goal, and put users at ease.</li>
<li>Describe the scenario, set up the context, and let users use the app while thinking aloud.</li>
<li>Ask follow up questions and gather feedback.</li>
<li>Let users fill out a questionnaire. Thank them for participating.</li>
         
<br><br>
<a href="public/UX Research Study Plan-VERA.pdf" target="_blank">
              
  <button onclick="ShowAndHide()" class="btn black-button purple" name="button" >VIEW USER RESEARCH STUDY PLAN </button></a>
          </div>
          </div>
          <br><br>
          <h4> Unmoderated usability study </h4>
          <p>  I then tested the low fidelity prototype.I conducted an unmoderated usability study with a few family and friends

            I took inputs by writing down notes which I later converted into a spreadsheet note.For this study,the participants adopted the think aloud method.
            From the spreadsheet notes,I came across similar patterns.I clubbed patterns to find out themes.
            
            I used the affinity mapping technique.
            
            <br><br><br><br>
            <img alt="affinity mapping" src="public/Art gallery project.png" style="width:100%;align-items: end;"></p>
            </p>
            <br><br><br><br>
            <h4> Usability test conclusions</h4>
            <p>Gaining insights from the study was really helpful.I worked on the laptop and mobile low fidelity prototypes.I changed the low fidelity prototypes and inculcated the useful insights.

            </p>
            <button onclick="ShowAndHide3()" class="btn black-button purple" name="button" >USABILITY STUDY CONCLUSIONS</button>
              <br><br><br><br>
              <div class="collapse" id="usability" style="display:none">
              <img alt="usability study conclusions" src="public/usability conclusions.svg" style="width:160%;height: 530px;/* position: relative; *//* right: -34px; */align-items: end;">
            
              </div>
          
          
        </section>
        <section id="iterate" class="group" >
        <div class="section-divider">
          <div class="dot1">
          </div>
          <div class="dot2">
          </div>
          <div class="dot3">
          </div>
        </div>

        
          <div data-aos="fade-up" data-aos-duration="600">
            <h3>Iterations</h3>
            <hr>
            <div class="subgroup">
         <h4>  Signinficant changes</h4>
        
          <br>
          <h4> Mockup</h4>
          <p>I moved on to add colour and styles to my design.I created mockups for both mobile and laptop versions.
            </p>
            <img  class="img-responsive full-img" src="public/Frame 26.svg" alt="initial and revised homepage mockup" style="width:100%">
            <p>After I fixated and focussed on a few colours,this is what the sticker sheet looks like.</p>
            <img  class="img-responsive full-img" src="public/sticker-sheet.svg" alt="sticker sheet">
            <br><br><br><br>
            <h4>High fidelity prototype</h4>
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FOEqu3QdxJ78LYWunWNQ49D%2FWireframes-Audio-tour-project%3Fnode-id%3D372%253A2422%26scaling%3Dscale-down%26page-id%3D113%253A2%26starting-point-node-id%3D188%253A68" allowfullscreen></iframe>
          </div>
          </div>
          
          
        </section>
        <section id="future-steps" class="group" >
        <div class="section-divider">
          <div class="dot1">
          </div>
          <div class="dot2">
          </div>
          <div class="dot3">
          </div>
        </div>

        
          <div data-aos="fade-up" data-aos-duration="600">
            <h3>Next steps</h3>
            <hr>
            <div class="subgroup">
         <h4>  </h4>
        
          <br>
         
          </div>
          </div>
          
          
        </section>
        <div class="section-divider">
          <div class="dot1">
          </div>
          <div class="dot2">
          </div>
          <div class="dot3">
          </div>
        </div>


      </div>
    </div>
    </div>
    </div>

<div class="container-fluid">
  <div class="row footer-row">
    <div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
      <p style="position: relative;right:20px;">
        <a class="hvr-underline-from-left" href="my-projects.html" >All</a> 
        <a class="hvr-underline-from-left" href="vera.html">Vera</a> 
        <a class="selected-footer" href="adore.html">Adore</a> 
        <a class="hvr-underline-from-left" href="./mirror-mirror.html">Mirror Mirror</a> 
        
      </p>
      </div>
      </div>
      </div>
      
      
      
      <a href="" id="template-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    

<!-- <%- include("partials/footer"); -%> -->
</div>
<div class="foot">
    <div class="container-fluid ">
      <div class="row footer-row">
        <div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="footer-text  ">Designed and self-coded with ♥ and ♫</p>
        </div>
        <div class="footer-icons col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>
            <a href="https://dribbble.com/Rio_97" target="_blank"><i class="fa fa-dribbble fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/yanfeng-jin-tony-80533455/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            <a href="https://medium.com/@Rio_97" target="_blank"><i class="fa fa-medium fa-lg" aria-hidden="true"></i></a>
            <a href="mailto:pillaidikshita97@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
          </p>
          <br>
          <p class="footer-text-small">Dikshita Pillai © 2022 All Rights Reserved</p>

        </div>
      </div>
    </div>
  </div>
  </body>
